<div class="jumbotron">
    <h1>About us</h1>
    <p>We are working on our One Month Rails Pinteristing app!</p>
    <p><%= link_to "Learn more >>", "#", class: "btn-lg btn-primary" %></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
      <div class="panel">
          <div class="panel-body">
               <h2>Founders</h2>
                <p>Abyssinian siberian yet russian blue donskoy or russian blue puma kitty. Puma. Tomcat. Tom russian blue munchkin. Jaguar singapura burmese but maine coon so balinese . Thai. Havana brown maine coon siamese or malkin but american shorthair yet tomcat. Persian.</p>
          </div>
      </div>
    </div>
        <div class="col-md-4">
      <div class="panel">
          <div class="panel-body">
               <h2>Mission</h2>
                <p>Abyssinian siberian yet russian blue donskoy or russian blue puma kitty. Puma. Tomcat. Tom russian blue munchkin. Jaguar singapura burmese but maine coon so balinese . Thai. Havana brown maine coon siamese or malkin but american shorthair yet tomcat. Persian.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
          <div class="panel-body">
               <h2>Caturday</h2>
                <p>Abyssinian siberian yet russian blue donskoy or russian blue puma kitty. Puma. Tomcat. Tom russian blue munchkin. Jaguar singapura burmese but maine coon so balinese . Thai. Havana brown maine coon siamese or malkin but american shorthair yet tomcat. Persian.</p>
          </div>
      </div>
    </div>
    </div>
    
</div>