<div class="jumbotron center">
    <h1>Welcome to my app!</h1>
    <div class="row">
    <%= link_to "Sign Up", "#", class: "btn btn-lg btn-default" %>
    <%= link_to "Log In", "#", class: "btn btn-lg btn-primary" %>
    </div>
</div>
